@-webkit-keyframes fadein {
  to {
    opacity: 1; } }
@keyframes fadein {
  to {
    opacity: 1; } }
* {
  box-sizing: border-box; }

body, a {
  color: #424242;
  font-family: 'Verdana', sans-serif; }

.content {
  margin: auto;
  width: 92%;
  max-width: 1200px; }

a {
  text-decoration: none;
  display: block; }

a:hover, a.hover {
  font-weight: bold;
  color: inherit;
  text-decoration: none; }

@keyframes showIt {
  100% {
    visibility: hidden; } }
.tactile-fix {
  position: relative; }

.tactile-fix:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.tactile-fix:hover {
  transform: none; }

.tactile-fix:hover:after {
  animation: showIt 50ms forwards;
  animation-delay: 50ms; }

.rouge {
  color: #FF3D37; }

.bleugris {
  color: #75A87F; }

.orange {
  color: #FF8D64; }

.violet {
  color: #C0486A; }

.vert {
  color: #91B875; }

header {
  display: inline-block;
  width: 250px;
  vertical-align: top;
  position: fixed;
  font-size: 1.2em; }
  header a {
    font-family: 'Andale Mono', 'Source Code Pro', monospace;
    text-transform: uppercase;
    display: block; }
    header a img {
      width: 139px; }
  header h1 {
    position: relative;
    top: -20px;
    letter-spacing: 0;
    width: 140px;
    text-align: center;
    font-size: 1.1em;
    line-height: 1.4em;
    margin-top: 0; }
    header h1 span {
      display: block; }
    header h1 span:nth-of-type(2) {
      font-size: 2.5em;
      color: black;
      line-height: .1em; }
  header a.logo:hover, header a.logo:focus {
    font-weight: normal; }
  header nav {
    position: relative;
    top: -20px; }
    header nav #topnav {
      margin-top: 85px; }
    header nav #bottomnav {
      margin-top: 45px; }
      header nav #bottomnav p {
        margin-top: 10px; }
    header nav a {
      line-height: 2em;
      font-size: .92em; }
  header p {
    font-size: 0.6em; }

main {
  width: calc(100% - 250px);
  font-size: 0.8em;
  margin-bottom: 35px;
  margin-left: 250px;
  padding-top: 20px; }

.wrapper {
  padding: 10px; }

.grid {
  margin: -15px; }

.col,
[class^="col-"],
[class*=" col-"] {
  background-size: cover;
  background-position: center;
  float: left;
  opacity: 0;
  -webkit-animation: fadein 1s 1s both;
  animation: fadein 1s 1s both; }

.col {
  position: relative;
  width: 30%;
  padding-bottom: 30%;
  margin: 1.66%; }

[class^="col-"],
[class*=" col-"] {
  display: flex;
  margin: 0;
  width: calc(100% / 3);
  padding: 8px 8px calc(100% / 2.6) 8px;
  border: 8px solid transparent;
  background-clip: padding-box;
  position: relative; }

.col-1 {
  width: calc(100% / 3); }

.col-2 {
  width: calc(100% * 2 / 3); }

.col-3 {
  width: 100%; }

.col-4 {
  width: 100%;
  padding-bottom: calc(100% / 1.8); }

.col-5 {
  width: 50%;
  padding-bottom: 50%; }

.col-6 {
  width: 100%;
  padding-bottom: 100%; }

.col-7 {
  width: 100%;
  padding-bottom: calc(100% * 3/2); }

.collink {
  height: 100%;
  width: 100%; }

.colcontent {
  font-size: 16px;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  transition: all 0.3s; }
  .colcontent p {
    margin-left: auto;
    margin-right: auto;
    display: none;
    color: black;
    font-family: 'Andale Mono', 'Source Code Pro', monospace; }

a.col:hover p,
a[class^="col-"]:hover p,
a[class*=" col-"]:hover p,
a.col.hover p,
a[class^="col-"].hover p,
a[class*=" col-"].hover p,
a.col:focus p,
a[class^="col-"]:focus p,
a[class*=" col-"]:focus p {
  display: initial; }
a.col:hover .colcontent,
a[class^="col-"]:hover .colcontent,
a[class*=" col-"]:hover .colcontent,
a.col.hover .colcontent,
a[class^="col-"].hover .colcontent,
a[class*=" col-"].hover .colcontent,
a.col:focus .colcontent,
a[class^="col-"]:focus .colcontent,
a[class*=" col-"]:focus .colcontent {
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 100; }

div.col > a:hover,
div[class^="col-"] > a:hover,
[class*=" col-"] > a:hover,
div.col > a:focus,
div[class^="col-"] > a:focus,
[class*=" col-"] > a:focus {
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 100; }

#separation {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  #separation a {
    text-align: center;
    text-transform: uppercase;
    margin: 35px;
    display: inline-block; }

.line-separator {
  height: 1px;
  border-bottom: 2px dotted #424242;
  width: 35%;
  display: inline-block; }

section#projecttop {
  margin: 0 0 -20px 0; }
  section#projecttop img {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    padding: 1.5%; }
  section#projecttop pre {
    text-align: justify;
    text-justify: inter-word; }
  section#projecttop article {
    width: 55%;
    display: inline-block;
    padding: 1.5%; }
    section#projecttop article h2#titreprojet {
      text-transform: uppercase;
      font-size: 1.2em;
      color: black;
      padding-bottom: 5px;
      margin-top: 0; }
    section#projecttop article h6#poste {
      text-transform: uppercase;
      padding-bottom: 5px; }
    section#projecttop article pre {
      padding: 0;
      margin: 0;
      word-break: keep-all;
      white-space: pre-wrap;
      /* Since CSS 2.1 */
      white-space: -moz-pre-wrap;
      /* Mozilla, since 1999 */
      white-space: -pre-wrap;
      /* Opera 4-6 */
      white-space: -o-pre-wrap;
      /* Opera 7 */
      word-wrap: break-word;
      /* Internet Explorer 5.5+ */
      font-size: .85em;
      background-color: white;
      border: none;
      font-family: 'Verdana', sans-serif; }
      section#projecttop article pre em {
        font-style: italic; }

section#actualite {
  max-width: 450px;
  padding-top: 50px; }
  section#actualite h2 {
    text-transform: uppercase;
    font-size: 1.5em;
    color: black; }
  section#actualite p {
    text-align: justify;
    text-justify: inter-word; }
  section#actualite span {
    font-weight: bold; }
    section#actualite span::before {
      content: "- "; }
    section#actualite span::after {
      content: " : "; }

section#contact h2 {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold; }
section#contact p {
  text-align: justify;
  text-justify: inter-word; }
section#contact span {
  font-weight: bold; }
  section#contact span.date::after {
    content: ' - '; }
  section#contact span.details::after {
    content: ' : '; }
section#contact div#colonegauche {
  vertical-align: top;
  padding: 10px;
  margin-top: -20px;
  width: 40%;
  display: inline-block; }
  section#contact div#colonegauche img {
    width: 100%;
    padding-top: 20px; }
  section#contact div#colonegauche a {
    width: 100%;
    text-align: center;
    padding-top: 5px;
    text-decoration: underline; }
    section#contact div#colonegauche a:hover {
      font-weight: normal;
      color: black; }
section#contact div#colonedroite {
  vertical-align: top;
  padding: 10px 10px 10px 20px;
  margin-top: -20px;
  width: 60%;
  display: inline-block; }

form h2 {
  text-align: center; }
form label, form input, form textarea, form select {
  display: block;
  width: 700px;
  margin: auto; }
form input[type="submit"] {
  width: 100px;
  text-align: center;
  margin: auto;
  margin-top: 10px; }

@media all and (max-width: 768px) {
  .content {
    width: 95%; }

  header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 20px; }
    header nav {
      display: none; }

  main {
    width: 100%;
    margin-left: 0; }

  #separation a {
    margin: 25px; }

  section#projecttop article {
    display: block;
    width: 100%;
    text-align: center; }
    section#projecttop article h6#poste {
      padding-bottom: 35px; }

  .mobile-hide {
    display: none !important; }

  section#actualite {
    margin: auto;
    width: 80%; }
    section#actualite img {
      width: 100%; }

  section#contact div#colonedroite, section#contact div#colonegauche {
    display: block;
    width: 100%;
    padding-left: 10px; } }
@media all and (max-width: 320px) {
  .colcontent p {
    letter-spacing: -3px; } }

/*# sourceMappingURL=main.css.map */
