
// =======================================================
// ===================== VARIABLES =======================
// =======================================================

$basecolor: #424242;
$rouge: #FF3D37;
$bleugris: #75A87F;
$orange: #FF8D64;
$violet: #C0486A;
$vert: #91B875;

// =======================================================
// ======================= STYLE =========================
// =======================================================


// -------------------------------------------------------
//                  PROPRIETES GENERALES
// -------------------------------------------------------

* {
	box-sizing: border-box;
}

body, a {
	color: $basecolor;
	font-family: 'Verdana', sans-serif;
}

.content {
	margin: auto;
	width: 92%;
	max-width: 1200px;
}

a {
	text-decoration: none;
	display: block;
}

a:hover, a.hover {
	font-weight: bold;
	color: inherit;
	text-decoration: none;
}

// -------------------------------------------------------
//                TACTILE HOVER FIX
// -------------------------------------------------------
@keyframes showIt {
	100% { visibility: hidden; }
}
.tactile-fix:after {
	content: "";
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
}
.tactile-fix:hover {
	transform: none;
}
.tactile-fix:hover:after {
	animation: showIt 50ms forwards;
	animation-delay: 50ms;
}

// -------------------------------------------------------
//                     COULEURS SPANS
// -------------------------------------------------------

.rouge {
	color: $rouge;
}
.bleugris {
	color: $bleugris;
}
.orange {
	color: $orange;
}
.violet {
	color: $violet;
}
.vert {
	color: $vert;
}

// -------------------------------------------------------
//                         HEADER
// -------------------------------------------------------


header {
	padding-top: 10px;
	display: inline-block;
	width: 250px;
	vertical-align: top;
	position: fixed;
	font-size: 1.2em;
	a {
		font-family: 'Andale Mono', 'Source Code Pro', monospace;
		text-transform: uppercase;
		display:block;
	}

	h1 {
		letter-spacing: 0;
		width: 140px;
		text-align: center;
		font-size: 1.1em;
		line-height: 1.4em;
		margin-top: 0;
		
		span {
			display: block;
		}

		span:nth-of-type(2) {
			font-size: 2.5em;
			color: black;
			line-height: .1em;
		}
	}

	a.logo:hover, a.logo:focus {
		font-weight: normal;
	}

	nav {
		#topnav {
			margin-top: 85px;
		}

		#bottomnav {
			margin-top: 45px;
			p {
				margin-top: 10px;
			}
		}

		a {
			line-height: 2em;
			font-size: .92em;
		}
	}

	p {
		font-size: 0.6em;
	}
}

// -------------------------------------------------------
//                         MAIN
// -------------------------------------------------------


main {
	width: calc(100% - 250px);
	font-size: 0.8em;
	margin-bottom: 35px;
	margin-left: 250px;
	padding-top: 20px;
}

.wrapper { padding: 10px; }
.grid {
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.col,
[class^="col-"],
[class*=" col-"] {
  display: flex;
  margin: 0;
  width: calc(100% / 3);
  padding: 8px 8px calc(100% / 3) 8px;
  border: 8px solid transparent;
  background-clip: padding-box;
  position: relative;
  background-size: cover;
  background-position: center;
}
[class^="col-"],
[class*=" col-"] {
	padding-bottom: calc(100% / 2.6);
}
.col-1 {
	width: calc(100% / 3);
}
.col-2 {
	width: calc(100% * 2 / 3);
}
.col-3 {
	width: 100%;
}
.collink {
	height: 100%;
	width: 100%;
}
.colcontent {
  font-size: 16px;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  transition: all 0.3s;
  box-shadow: 0 0 5px #252525;
  p {
  		margin-left: auto;
  		margin-right: auto;
  		display: none;
  		color: black;
  		font-family: 'Andale Mono', 'Source Code Pro', monospace;
	}
}
a.col:hover,
a[class^="col-"]:hover,
a[class*=" col-"]:hover,
a.col.hover,
a[class^="col-"].hover,
a[class*=" col-"].hover,
a.col:focus,
a[class^="col-"]:focus,
a[class*=" col-"]:focus {
	p {
		display: initial;
	}
	.colcontent {
		background-color: rgba(255, 255, 255, .5);
		z-index: 100;
        box-shadow: none;
    }
}

div.col > a:hover,
div[class^="col-"] > a:hover,
[class*=" col-"] > a:hover,
div.col > a:focus,
div[class^="col-"] > a:focus,
[class*=" col-"] > a:focus {
	background-color: rgba(255, 255, 255, .5);
	z-index: 100;
}

#separation {
	display: flex;
	justify-content: space-between;
	align-items: center;

	a {
		text-align: center;
		text-transform: uppercase;
		margin: 35px;
		display: inline-block;
	}
}

.line-separator{
	height:1px;
	border-bottom:1px dashed $basecolor;
	width: 35%;
	display: inline-block;
}

// -------------------------------------------------------
//                       PROJECT PAGE
// -------------------------------------------------------

section#projecttop{
	margin: 0 0 -20px 0;
	img {
		width: 45%;
		display: inline-block;
		vertical-align: top;
		padding: 1.5%;
	}
	pre {
		text-align: justify;
    	text-justify: inter-word;
	}
	article {
		width: 55%;
		display: inline-block;
		padding: 1.5%;
		h2#titreprojet {
			text-transform: uppercase;
			font-size: 1.2em;
			color: black;
			padding-bottom: 5px;
			margin-top: 0;
		}
		h6#poste{
			text-transform: uppercase;
			padding-bottom: 5px;
		}

		pre {
			padding: 0;
			margin:0;
			word-break: keep-all;
		    white-space: pre-wrap;       /* Since CSS 2.1 */
		    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
		    white-space: -pre-wrap;      /* Opera 4-6 */
		    white-space: -o-pre-wrap;    /* Opera 7 */
		    word-wrap: break-word;       /* Internet Explorer 5.5+ */
			font-size: .85em;
			background-color: white;
			border: none;
			font-family:  'Verdana', sans-serif;
		    em {
		    font-style: italic;
			}
		}
	}
}

// -------------------------------------------------------
//                       ACTUALITES
// -------------------------------------------------------

section#actualite {
	max-width: 450px;
	padding-top: 50px;

	h2 {
		text-transform: uppercase;
		font-size: 1.5em;
		color: black;
	}
	p {
		text-align: justify;
    	text-justify: inter-word;
	}
	span {
		font-weight: bold;

		&::before {
			content: "- ";
		}

		&::after{
			content: " : ";
		}
	}
}

// -------------------------------------------------------
//                     CONTACT CV
// -------------------------------------------------------

section#contact {
	h2 {
		text-transform: uppercase;
		font-size: 1.2em;
		font-weight: bold;
	}
	p {
		text-align: justify;
    	text-justify: inter-word;
	}
	span {
		font-weight: bold;
		&.date::after {
			content: ' - ';
		}
		&.details::after {
			content: ' : ';
		}
	}
	div#colonegauche {
		vertical-align: top;
		padding: 10px;
		margin-top: -20px;
		width: 40%;
		display: inline-block;
		img {
			width: 100%;
			padding-top: 20px;
		}
		a {
			width:100%;
			text-align: center;
			padding-top: 5px;
			text-decoration: underline;
			&:hover {
				font-weight: normal;
				color: black;
			}
		}
	}
	div#colonedroite {
		vertical-align: top;
		padding: 10px 10px 10px 20px;
		margin-top: -20px;
		width: 60%;
		display: inline-block;
	}

}

// -------------------------------------------------------
//                     BACK MAIN
// -------------------------------------------------------

form {
	h2 {
		text-align: center;
	}
	label, input, textarea, select {
		display: block;
		width: 700px;
		margin: auto;
	}
	input[type="submit"] {
		width: 100px;
		text-align: center;
		margin: auto;
		margin-top: 10px;
	}
}

// -------------------------------------------------------
//                    RESPONSIVE
// -------------------------------------------------------

@media all and (max-width: 768px) {
	.content {
		width: 95%;
	}
	header {
		width: 100%;
		display: flex;
		justify-content: center;
		position: relative;
		padding-bottom: 20px;
		nav {
			display: none;
		}
	}
	main {
		width: 100%;
		margin-left: 0;
	}
	#separation a {
		margin: 25px;
	}
	section#projecttop {
		article {
			display: block;
			width: 100%;
			text-align: center;
			h6#poste {
				padding-bottom: 35px;
			}
		}
	}
	.mobile-hide {
		display: none !important;
	}
	section#actualite {
		margin: auto;
		width: 80%;
		img {
			width: 100%;
		}
	}
	section#contact {
		div {
			&#colonedroite, &#colonegauche {
				display: block;
				width: 100%;
				padding-left: 10px;
			}
		}
	}
}