// -------------------------------------------------------
//                       ANIMATIONS
// -------------------------------------------------------
@-webkit-keyframes fadein {
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  to {
    opacity: 1;
  }
}

.appear {
  opacity: 0;
  -webkit-animation: fadein 1s 1s both;
  animation: fadein 1s 1s both;
}